body {
  text-align: center;
  background-color: #c0c0c0;
}

#one {
  width: 15em;
  height: 20em;
  background-color: red;
}

#two {
  width: 15em;
  height: 20em;
  background-color: blue;
}

#three {
  width: 15em;
  height: 20em;
  background-color: yellow;
}

.row {
  display: flex;
  justify-content: center;
}

#reset {
  margin: 2em;
}