body {
  text-align: center;
  background-color: #c0c0c0;
}

.block {
  width: 15em;
  height: 20em;
  background-color: #232425;
}

.row {
  display: flex;
  justify-content: center;
}

#reset {
  margin: 2em;
}